- stat = locals['stat']
- if locals['year']
  - header = locals['year']
  - button = true
- else
  - header = locals['month']
  - button = false

.pure-u-1.pure-u-md-1-3
  .boxes-table.boxes-table-free
    .boxes-table-header
      %h2
        = header
      %span.boxes-table-text
        = stat['total']
        %span beers
    %ul.boxes-table-list
      %li Unique beers: #{stat['total_unique']}
      %li Max abv: #{stat['max_abv']}%
      %li Avg abv: #{stat['avg_abv']}%
      %li Countries: #{stat['countries']}
      %li Breweries: #{stat['breweries']}
      %li Venues: #{stat['venues']}
      %li Most beers per day: #{stat['most_per_day']}
      %li Most unique per day: #{stat['most_unique_per_day']}
      %li Avg per day: #{stat['avg_per_day']}
    - if button
      %a.button-choose.pure-button{:href => "/stats/#{locals['user']}/#{locals['year']}"} Monthly
