- username = locals[:'username']
.pure-menu.pure-menu-horizontal
  %a.pure-menu-heading.pure-menu-link{:href => "/"} Imbagraph
  - if username
    %ul.pure-menu-list
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/stats/#{username}/"} Stats
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/stats/#{username}/beers"} Beers
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/stats/#{username}/breweries"} Breweries
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/stats/#{username}/tagged"} Tagged
      %li.pure-menu-item
        %a.pure-menu-link{:href => "/stats/#{username}/upload"} Upload
