!!! 5
%html
  %head
    %title= "Imbagraph"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@1.0.0/build/pure-min.css", :integrity => "sha384-", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css", :rel => "stylesheet"}/
    %link{:href => "/css/imbagraph.css", :rel => "stylesheet"}/

  %body
    - user = locals['user']
    - year = locals['year']
    .alert
      = styled_flash
    .banner
      = haml(:_menu, :locals => {'username' => user.username})
      %h1.banner-head
        I might be an alcoholic
        %br
        As in #{year} i had #{user.beers_for_year(year).count} beers, and i started drinking #{user.first_beer(year).strftime("%d.%m %H:%M")}, averaging #{user.avg_beers(year).round(2)} beers a day

    .l-content
      - user.months_drinking(year).each_slice(3) do | months |
        .boxes-tables.pure-g
          - months.each do | month |
            = haml(:_box, :locals => {'month' => month, 'stat' => user.get_stats_for_month(year, month)})

    %p{:style => "text-align: center"}
      Site and content subject to sudden change due to miscalculated Balmer's peak
