!!! 5
%html
  %head
    %title= "Imbagraph"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://unpkg.com/purecss@1.0.0/build/pure-min.css", :integrity => "sha384-", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css", :rel => "stylesheet"}/
    %link{:href => "/css/imbagraph.css", :rel => "stylesheet"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"}

  %body
    .banner
      %h1.banner-head
        I might be an alcoholic
        %br
        As I have had #{locals['beers']} since #{locals['first_beer']}, averaging #{locals['avg_beers']} a day

    .l-content
      .boxes-tables.pure-g
        - locals["yearly_stats"].each do | year, stat |
          = haml :_box, :locals => {'year' => year, 'stat' => stat}

    %p{:style => "text-align: center"}
      Site and content subject to sudden change due to miscalculated Balmer's peak
